.body{
	background-image: url(../../Downloads/anh3.jpg);
	background-repeat: repeat-100px|repeat-100px|repeat-100px|repeat-100px;
}
h1{
	text-align: center;
	color: #008888;
}
.dong1{
	background-color: #339999;
	color: #FFFFFF;
}
.chu{
	color: #008888;
}