#bai{
	width:700px;
		}
#phan1{
	
	
	border:2px solid 
	#F93;
	}
#chu{
	text-align:center;
	color:#F93;
	font-size:24px;
	
	}

#a1{
	font-size:16px;
	}
#chu3{
	width:700px;
	height:25px;
	background-color:#F93;
	text-align:left;S
	
	}
#chu3 ul{
	margin-top:-0px;
		float: right;
		font-size:18px;
		color:#FFF;
	}
#chu2{
	line-height:20px;
	
	}
strong{
	color:#F00;
	}
#chu4{
	text-align:right;
	}